.features__list {
  @media screen and(min-width:768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}
.features__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $title-text-color;
  @media screen and (max-width: 479.999px) {
    text-align: center;
  }
}

.features__text {
  margin-top: 0;
  margin-bottom: 0;
  color: $primary-text-color;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  @media screen and (max-width: 479.999px) {
    width: 100%;
  }
  @media screen and(min-width:768px) and (max-width: 1199.999px) {
    width: 354px;
  }
  @media screen and(min-width:1200px) {
    width: 270px;
  }
}

.features__item {
  @media screen and (min-width: 768px) and (max-width: 1199.999px) {
    width: calc(100% - 4 * 15px) / 2;
    margin: 15px;
  }
  @media screen and (min-width: 1200px) {
    width: calc(100% - 8 * 15px) / 4;
    margin: 15px;
  }
}
.features__icon_box {
  @include centeredflex;
  height: 120px;
  background-color: $button-bg-color;
  border-color: $button-bg-color;
  border-radius: 4px;

  @media screen and (max-width: 767.999px) {
    width: 450px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199.999px) {
    width: 354px;
  }
  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}
.features__icon {
  width: 70px;
  height: 70px;
}
