.header {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 80px;
  width: 100%;
  background-color: $primary-white-color;
  border-bottom: 1px solid $border-header-color;
  z-index: 3;
}
.header__container {
  display: flex;
  align-items: center;
}
