.menu__container {
  min-height: 60px;
  min-width: 320px;
  max-width: 1170px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

@media (max-width: 767.999px) {
  .menu {
    display: none;
  }
}

.menu__link {
  padding: 10px;
  color: inherit;
  text-decoration: none;
  &:focus,
  &:hover {
    text-decoration: underline;
  }
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu__box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background-color: #3f51b5;
  z-index: 1000;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu__box.is-open {
  transform: translateX(0);
}

.menu__box .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #fff;
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.mobile-menu .menu__link {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
}
