.menu__container {
  min-height: 60px;
  min-width: 320px;
  max-width: 1170px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

@media (max-width: 767.999px) {
  .menu {
    display: none;
  }
}
.menu__item_page {
  margin-bottom: 32px;
  &:last-child {
    margin-bottom: 302px;
  }
}
.menu__link_page {
  color: $title-text-color;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  &:hover,
  &:focus {
    color: $accent-color;
  }
}
.menu__link_page--current {
  color: $accent-color;
}

.menu__item_contacts {
  margin-bottom: 32px;
  &:last-child {
    margin-bottom: 64px;
  }
}
.menu__link_tel {
  color: $accent-color;
  font-size: 34px;
  line-height: 1.17;
}
.menu__link_mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  color: $primary-text-color;
}
.menu__list_social {
  display: flex;
  margin: 0;
}

.menu__link_social--border {
  border: 1px solid rgba(33, 33, 33, 0.2);
  margin-right: 10px;
  margin-left: 10px;
}
.menu__link_social {
  display: flex;
  color: $accent-color;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
}
.menu__link {
  display: block;
  text-decoration: none;
  &:focus,
  &:hover {
    text-decoration: underline;
  }
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
  &:hover,
  &:focus {
    fill: $accent-color;
  }
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu__box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: $primary-white-color;

  z-index: 1000;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu__box.is-open {
  transform: translateX(0);
}

.menu__box .menu-toggle {
  position: absolute;
  top: 10px;
  right: 15px;
  color: #fff;
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.mobile-menu .menu__link {
  display: block;
  text-decoration: none;
}
