$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$primary-white-color: #ffffff;
$button-bg-color: #f5f4fa;
$bg-one: #2f303a;
$bg-two: #e5e5e5;
$bg-three: #f5f4fa;
$logo-color: #afb1b8;
$button-hover: #188ce8;
$border-header-color: #ececec;
$background-modal: rgba(0, 0, 0, 0.2);
